body{
    margin: 0;
    padding: 0;
}

h2{
    padding: 0;
    margin: 0;
}

.navBar{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background: #262626;
    height: 50px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.navTitle{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.navTitleMob{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;    
}

.navMenu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
}

.navMenuMob{
    display: none;
}

.menuBtn{
    text-decoration: none;
    display: block;
    color: #ffffff;
    padding: 15px;
    font-weight: bold;
}

.menuBtnAct{
    text-decoration: none;
    display: block;
    color: #000000;
    padding: 15px;
    font-weight: bold;
    background: #05b8ff;
}

.menuBtnMob{
    text-decoration: none;
    display: block;
    color: #ffffff;
    padding: 15px;   
    font-weight: bold; 
}

.menuBtnMobAct{
    text-decoration: none;
    display: none;
    color: #000000;
    padding: 15px;   
    font-weight: bold; 
    background: #05b8ff;
}

.menuBtn:hover{
    background: #05b8ff;
    color: #000000;
}

.menu-toggle{
    color: #ffffff;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.spacerfill{
    display: none;
}

@media (max-width: 991px){
    .menu-toggle{
        display: block;
    }
    .navMenu{
        display: none;
    }
    .spacerfill{
        display: block;
    }
    .navTitle{
        display: none;
    }
    .navMenuMob{
        position: absolute;
        display: grid;
        grid-template-rows: 50px 50px 50px 50px;
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    .navMenuMob.active{
        left: 0;
    }
        
    .menuBtnMob{
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
    .menuBtnMob:hover{
        background: #05b8ff;
        color: #000000;
    }
    .menuBtnMobAct{
        display: block;
    }
}